{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "es2021": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "useJSXTextNode": true,
    "project": true,
    "projectRoot": "__dirname",
    "tsconfigRootDir": "__dirname"
  },
  "extends": [
    "plugin:react/recommended",
    "plugin:@next/next/recommended",
    "plugin:@typescript-eslint/recommended",
    "next/core-web-vitals"
  ],
  "plugins": [
    "react"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "@typescript-eslint/indent": "off",
    "spaced-comment": [
      "error",
      "always",
      { "markers": ["/ <reference"] }
    ],
    "import/no-extraneous-dependencies": ["off", {
      "devDependencies": true,
      "optionalDependencies": false
    }],
    "@next/next/no-img-element": ["off"],
    "prefer-promise-reject-errors": ["off"],
    "react/jsx-filename-extension": ["off"],
    "react/prop-types": ["off"],
    "import/extensions": ["off"],
    "jsx-a11y/anchor-is-valid": ["off"],
    "no-return-assign": ["off"]
  }
}
