{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "es2021": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "extends": [
    "plugin:import/typescript"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "jest"
  ],
  "rules": {
    "@typescript-eslint/indent": "off",
    "spaced-comment": [
      "error",
      "always",
      { "markers": ["/ <reference"] }
    ],
    "prefer-promise-reject-errors": ["off"],
    "no-return-assign": ["off"]
  }
}
